<div class="collection__page-product">
  <div class="collection__page-image">
    {{ 'product-1' | placeholder_svg_tag }}
  </div>

  <div class="collection__page-prodcont">
    <span>Vendor</span>
    <span>Placeholder title</span>
    <span>{{ '9999' | money }}</span>
  </div>
</div>