{% comment %}
contact[name] is optional inputs in shopify forms
{% endcomment %}
<div class="contact-form">
  <h2>{{ section.settings.contact_form_title }}</h2>
  <div class="contact-form__error">
    {% form 'contact' %}
      {% if form.errors %}
        <div class="contact-form__message-failed">
          <div class="contact-form__icon-failed">
            {% render 'icon-failed' %}
          </div>
          <p>Oh, no! Your message is not sent!</p>
          {% for error in form.errors %}
            {{ form.errors.messages[error] }}
          {% endfor %}
        </div>
      {% elsif form.posted_successfully? %}
        <div class="contact-form__message-success">
          <div class="contact-form__icon-success">
            {% render 'icon-success' %}
          </div>
          <p>Your message is sent successfully</p>
        </div>
      {% endif %}
    </div>
    <div class="contact-form__name-email">
      <div class="contact-form__name">
        <label for="contact_name">Name</label>
        <input
          type="text"
          name="contact[name]"
          id="contact_name">
      </div>
      <div class="contact-form__email">
        <label for="contact_email">Email address</label>
        <input
          type="email"
          name="contact[email]"
          id="contact_email">
      </div>
    </div>
    <label for="contact_message">Message</label>
    <textarea
      name="contact[body]"
      id="contact_message"
      rows="5"></textarea>
    <input
      class="contact-form__submit-btn"
      type="submit"
      value="Submit message">
  {% endform %}
</div>

{% schema %}
  {
    "name": "Contact Form",
    "settings": [
      {
        "type": "text",
        "id": "contact_form_title",
        "label": "Title"
      }
    ],
    "presets": [
      {
        "name": "Contact Form"
      }
    ]
  }
{% endschema %}