{% comment %}
Referencing comment to index.json, cause JSON doesn't support comments
"featured_collection": "all" is the default collection in SHOPIFY STORE. This allows to render all products in shopify store.
{% endcomment %}

<div class="featured-collection__wrapper">
  <h1>{{ section.settings.title }}</h1>
  <div class="featured-collection__grid">
    {% comment %} LIMIT parameter inside FOR -
    forces the for tag to stop iterating once the index
    reach the value setted in number_of_products_to_show
    {% endcomment %}
    {% for product in section.settings.featured_collection.products limit: section.settings.number_of_products_to_show %}
      {% render 'product-card', product_card: product %}
    {% else %}
      {% for item in (1..4) %}
        {% render 'product-card-placeholder' %}
      {% endfor %}
    {% endfor %}
  </div>
</div>

{% comment %} PRESETS allows adding many collections inside 1 page {% endcomment %}

{% schema %}
  {
    "name": "Featured Collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "Featured Collection",
        "label": "Title"
      }, {
        "type": "collection",
        "id": "featured_collection",
        "label": "Collection"
      }, {
        "type": "range",
        "id": "number_of_products_to_show",
        "min": 4,
        "max": 12,
        "default": 4,
        "label": "Number of products to show"
      }
    ],
    "presets": [
      {
        "name": "Featred Collection"
      }
    ]
  }
{% endschema %}