<div class="customer-register">
    <h1>Register an account</h1>

    <div class="customer-register__form">
    {% form 'create_customer' %}

      {% if form.errors %}
        <div class="customer-register__form-errors" role="alert">
          <strong>Error!</strong>
          <p>
            {{ form.errors | default_errors }}
          </p>
        </div>
      {% endif %}

      <div class="customer-register__form-content">
        <label for="first_name">First name</label>
        <input
          type="text"
          name="customer[first_name]"
          id="first_name"
          autocomplete="given-name"
          placeholder="First name">

        <label for="last_name">Last name</label>
        <input
          type="text"
          name="customer[last_name]"
          id="last_name"
          autocomplete="family-name"
          placeholder="Last name">

        <label for="birthday">Birthday</label>
        <input
          type="date"
          name="customer[note][Birthday]"
          id="birthday">

        <label for="email_address">Email address</label>
        <input
          type="email"
          name="customer[email]"
          id="email_address"
          autocomplete="email"
          placeholder="Email address">

        <label for="password">Password</label>
        <input
          type="password"
          name="customer[password]"
          id="password"
          autocomplete="new-password"
          placeholder="Password">

        <button class="customer-register__submit-btn" type="submit">Create account</button>
      </div>
    {% endform %}
</div>