<div class="template-search">
  <h1 class="template-search__title">Search results</h1>
  <p class="template-search__search-results">{{ search.results.size }} results for the search term {{ search.terms | escape }}
    {% paginate search.results by 5 %}
      {% if search.results.size > 0 %}
      </p>
      <div class="template-search__grid">
        {% for item in search.results %}
          {% case item.object_type %}
            {% when 'product' %}
            {% render 'product-card', product_card: item %}
          {% endcase %}
        {% endfor %}
      </div>
    {% else %}
      <div class="template-search_noresults">
        <p>No results found for the search term:
          <span>"{{ search.terms | escape }}"</span>. Try to use a different keyword.</p>
      </div>
    {% endif %}
    {% render 'snippet-pagination', pagination: paginate %}
  {% endpaginate %}
</div>