<div class="template-page">
  <div class="template-page__wrapper">
    <h1 class="template-page__title">{{ page.title }}</h1>
    <div class="template-page__content">
      <p>{{ page.content }}</p>
    </div>
  </div>
</div>