<div class="template-404">
  <div class="template-404__content">
    <h1>{{ section.settings.title }}</h1>
    <p>{{ section.settings.subtext_title }}</p>
    <a href="{{ shop.url }}">
      Back to homepage
    </a>
  </div>
</div>

{% schema %}
  {
    "name": "Template 404",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "404",
        "label": "404 Heading Title"
      }, {
        "type": "text",
        "id": "subtext_title",
        "default": "The page that you are looking for is not found.",
        "label": "404 Subtext Title"
      }
    ]
  }
{% endschema %}