<div class="collection__page">
  <a href="{{ routes.collections_url }}" class="collection__page-back-btn">Go back to collections</a>
  {% paginate collection.products by section.settings.collection-products__number-per-page %}
    <h1 class="collection__page-title">{{ collection.title }}</h1>
    <div class="collection__page-grid">
      {% for product in collection.products %}
        {% render 'product-card', product_card: product %}
      {% else %}
        <p>There are no products inside of this collection!</p>
      {% endfor %}
    </div>
    <!-- PAGINATION is parameter which is used in the snippet file /snippet-pagination.liquid/ -->
    <!-- PAGINATE is the value which are passing to PAGINATION parameter -->
    {% render 'snippet-pagination', pagination: paginate %}
  {% endpaginate %}
</div>


{% schema %}
  {
    "name": "Template collection",
    "settings": [
      {
        "type": "number",
        "id": "collection-products__number-per-page",
        "default": 4,
        "label": "Number of products per page"
      }
    ]
  }
{% endschema %}