<div class="customer-password">
  <h1 class="customer-password__title">
    Reset your password
  </h1>

  <div class="customer-password__reset-form">
    {% form 'reset_customer_password' %}


      <label for="password">New password</label>
      <input
        type="password"
        name="customer[password]"
        id="password"
        autocomplete="new-password"
        placeholder="New password">

      <label for="password_confirmation">Password confirmation</label>
      <input
        type="password"
        name="customer[password_confirmation]"
        id="password_confirmation"
        autocomplete="new-password"
        placeholder="Retype new password">

      <button class="customer-password__submit-btn" type="submit">Reset</button>
    {% endform %}
  </div>
</div>