@import url(https://use.fontawesome.com/releases/v5.6.3/css/all.css);
                                                            /*--------------------
                                                                    reset CSS
                                                            ----------------------*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
                                                            /*--------------------
                                                                   END OF
                                                                  reset CSS
                                                            ----------------------*/


body {
    font-family: Arial, Helvetica, sans-serif;
}

.homepage {
    text-align: center;
    padding-top: 10em;
}

.logo {
    width: 25%;
}

/*--------------------------
       Announcement
          HIDDEN
----------------------------*/

.announcement-bar__hidden {
  height: 13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}

/*--------------------------
       Announcement bar
----------------------------*/
.announcement-bar {
    position: relative;
    background-color: #222222;
    display: flex;
    padding: 0rem 12rem;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid #ffffff;
}


.announcement-bar .announcement-bar__content {
    color: #ffffff;
    font-size: small;
    font-weight: bold;
    margin: 0 auto;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.annountcement-bar__subscribe-btn {
  position: absolute;
}

.annountcement-bar__subscribe-btn button {
  background-color: #4a8f3a;
  color: white;
  cursor: pointer;
}

.annountcement-bar__subscribe-btn button:hover {
  background-color: #63b151;
}

.announcement-bar .annountcement-bar__subscribe-icon {
    color: #ffffff;
    padding-right: .25rem;
}

                                                            /*--------------------
                                                                     HEADER
                                                                LOGO/SEARCH/BTNS
                                                            ----------------------*/

.header .header__content {
  background-color: #48a5c9;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 12rem;
  font-size: 1.5rem;
}

.header .header__content a {
  text-decoration: none;
  color: #ffffff;
}

.header .header__content .header__search-container form input {
  width: 40rem;
  border: none;
}

.header .header__content .header__search-container button {
  border: none;
  background-color: #63b151;
  color: #ffffff;
  cursor: pointer;
}

.header .header__content .header__search-container button:hover {
  background-color: #4a8f3a;
}

/* remove all borders before and set border to both elements, to prevent space between them */
/* flex prevents search button to go on new line on low resolutions */
.header .header__content .header__search-container form {
  display: flex;
  /* border: 1px solid black; */
  border-radius: 0.25rem;
  overflow: hidden;
}

.header .header__content .header_all-btns {
  display: flex;
  font-size: 1.25rem;
}

.header .header__content .header_all-btns a {
  text-decoration: none;
  color: #ffffff;
}

.header .header__content .header_all-btns .header__login-register {
  display: flex;
  gap: 1rem;
  padding-right: 2rem;
  border-right: 1px solid lightgray;

}

.header .header__content .header_all-btns .header__cart {
  padding-left: 2rem;
}

.header .header__content .header__cart i {
  margin-right: .5rem;
  font-size: 1.5rem;
}


                                                            /*--------------------
                                                                  NAVIGATION
                                                            ----------------------*/

.header .header__navigation {
  font-size: 1.25rem;
  padding: 1rem 12rem;
}

.header .header__navigation ul {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
.header .header__navigation a {
  text-decoration: none;
  color: black;
}

.header .header__navigation a:hover,
.header__navigation .header__navigation-dropdown:hover {
  color:#48a5c9
}

.header__navigation .header__navigation-dropdown {
  background: none;
  border: none;
  position: relative;
}

.header__navigation .header__navigation-dropdown:hover {
  cursor: pointer;
}

.header__navigation-dropwrapper {
  min-width: 10%;
  max-width: 30%;
  overflow: hidden;
  position: absolute;
  border: 1px solid gray;
  border-radius: .5rem;
  padding: .5rem 1rem;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.header__navigation-dropwrapper a:hover {
  color: #48a5c9
}
                                                                    /* ---------------------
                                                                          HEADER END
                                                                    ------------------------ */

                                                                    /*-------------------
                                                                        FOOTER START
                                                                    -------------------*/
.footer {
  padding: 2rem 12rem;
  font-size: 1rem;
  background-color: #222222;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.footer__wrapper {
  display: flex;
}

.footer__contacts .footer__wrapper i {
  color: lightgrey;
  padding-top: .25rem;
  padding-right: .5rem;
}

.footer a,
.footer__wrapper p{
  text-decoration: none;
  color: lightgrey;
  font-size: 1rem;
}

.footer .footer__categories a:hover,
.footer .footer__store a:hover {
  color: #48a5c9;
  margin-left: .25rem;
  transition: 400ms;
}

.footer .footer__icons a {
  color: #63b151;
}

.footer__title {
  color: #ffffff;
  margin-bottom: .5rem;
}

.footer__payment {
  flex-wrap: wrap;
  display: flex;
  gap: .5rem;
}

.footer__social ul {
  display: flex;
  gap: .75rem;
  font-size: 1.75rem;
}

.footer__social ul a{
  font-size: 1.75rem;
}

.footer__social ul a i {
  color: lightgrey;
}

.footer__social .fa-facebook:hover {
  color: #4267B2;
}
.footer__social .fa-twitter:hover {
  color: #1DA1F2;;
}

.footer__social .fa-google-plus:hover {
  color: #db4a39;
}

.footer__social .fa-linkedin:hover {
  color: #0077B5;
}

.footer__social .fa-instagram:hover {
  color: #FCAF45;
}

.footer_copyright {
  display: flex;
  justify-content: space-between;
  padding: 0rem 12rem;
  border-top: 1px solid lightgray;
  background-color: #222222;
  color: #ffffff;
}
                                                                    /*-------------------
                                                                        FOOTER END
                                                                    -------------------*/
                                                                      /*------------------
                                                                        PAGINATION SNIPPET
                                                                          NAV BUTTONS
                                                                      ------------------- */

.pagination__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0rem;
  gap: .25rem;
}

.pagination__nav-btns {
  border: 1px solid lightgrey;
  border-radius: 6px;
  background-color: #ffffff;
  padding: 1rem;
  cursor: pointer;
  font-weight: 600;
}

.pagination__nav-btns {
  text-decoration: none;
  color: #222222;
}

.pagination__nav-btns:hover {
  background-color: #63b151;
  color: #ffffff;
}

.pagination__nav-btnclicked {
  background-color: #4a8f3a;
  color: #ffffff;
  font-weight: 600;
  padding: 1rem;
  border: 1px solid lightgrey;
  border-radius: 6px;
}
                                                                      /*-------------
                                                                          404 page
                                                                      --------------- */

.template-404 {
  height: 50vh;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.template-404__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.template-404__content a {
  text-decoration: none;
  background-color: #63b151;
  color:#ffffff;
  padding: .25rem 1rem;
  margin-top: .75rem;
}

.template-404__content a:hover {
  background-color: #4a8f3a;
}

                                                                      /*------------------
                                                                        Template ARTICLE
                                                                              PAGE
                                                                      ------------------- */
.template__article {
  margin: 2rem 12rem;
}

.template__article-news-title,
.template__article-title,
.template__article-author,
.template__article-published__date {
  text-align: center;
  font-size: 1.25rem;
}

.template__article-news-title a {
  text-decoration: none;
  color: gray;
  text-transform: uppercase;
  font-weight: bolder;
}

.template__article-news-title a:hover {
  color: darkgray;
}

.template__article-title {
  font-size: 1.5rem;
}

/* .template__article-author {
   empty for now
} */

/* .template__article-published__date {
   empty for now
} */

.template__article-featured-wrapper {
  width: 100%;
  height: 20rem;
  margin: 1rem 0rem;
}

.template__article-featured__image {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.template__article-placeholder__img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: lightskyblue;
}

.template__article-content {
  padding: 0rem 10rem;
  text-indent: 3rem;
  text-align: justify;
  font-size: 20px;
}

                                                                      /*------------------
                                                                        Template BLOG
                                                                             PAGE
                                                                      ------------------- */
.template__blog {
  margin: 2rem 12rem;
}

.template__blog-blog__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 2rem;
}

.template__blog-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr) ) ;
  gap: 1rem;
}

.template__blog-article {
  border: 1px solid lightgray;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  overflow: hidden;
  border-radius: 15px;
  height: 31rem;
  padding: 1rem;
}
.template__blog-article__title {
  margin-bottom: .5rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.template__blog-article__title a {
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
  font-weight: bolder;
}

.template__blog-image {
  overflow: hidden;
  height: 45%
}

.template__blog-image img {
  width: 100%;
  height: 13rem;
  object-fit: cover;
  border-radius: 15px;
}

.template__blog-placeholder__img {
  border-radius: 15px;
  width: 100%;
  height: 13rem;
  object-fit: cover;
  background-color: lightskyblue;
}

.template__blog-author__date {
  margin-top: 1rem;
  text-align: justify;
}

.template__blog-content {
  margin-top: .5rem;
  text-align: justify;
}

.template__blog-readmore a {
  color: #ffffff;
  text-decoration: none;
  padding: .5rem;
  font-weight: bolder;
  margin-top: .5rem;
  background-color: #4a8f3a;
  display: inline-flex;
  border-radius: 6px;
}

.template__blog-readmore a:hover {
  background-color: #63b151;
}
                                                                      /*-------------
                                                                          CART page
                                                                      --------------- */

.cart {
  padding: 2rem 12rem;
}

.cart__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart_continue-shopping {
  text-decoration: none;
  background-color: #63b151;
  color: #ffffff;
  padding: .5rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 4px;
}

.cart_continue-shopping:hover {
  background-color: #4a8f3a;
}

.cart__content {
  margin-top: 3rem;
}

.cart__content-table {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
}

.cart__content-th {
  text-align: left;
  border-bottom: 1px solid lightgray;
  padding: 0.5rem 0rem;
}

.cart__content-td {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.cart__content-prod-description {
  width: 80%;
  text-align: justify;
}

.cart__content-remove-product-btn {
  padding: .5rem;
  text-decoration: none;
  color: #ffffff;
  background-color: #63b151;
}

.cart__content-remove-product-btn:hover {
  background-color: #4a8f3a;
}

.cart__content-quantity-field {
  width: 80%;
}

.cart__content-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: .25rem;
  margin-bottom: 2rem;
}

.cart__content-footer button {
  background-color: #63b151;
  color: #ffffff;
  padding: .5rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 4px;
  border: none;
  width: 10%;
  cursor: pointer;
}

.cart__content-footer button:hover {
  background-color: #4a8f3a;
}

.cart__content-missing-img {
  width: 100px;
  height: 100px;
}

                                                                      /*-------------
                                                                          CART page
                                                                          when EMPTY
                                                                      --------------- */
.cart__empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

                                                                      /*------------------
                                                                        Collections/all
                                                                            PAGE
                                                                      ------------------- */


.collection__page {
  padding: 2rem 12rem;
}

.collection__page-back-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.collection__page-title {
  font-size: 2.5rem;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 2rem;
}

.collection__page-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr) ) ;
  gap: 1rem;
}

.collection__page-product {
  border: 1px solid lightgray;
  border-radius: 15px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  overflow: hidden;
}

.collection__page-image {
  height: 20rem;
  overflow: hidden;
}

.collection__page-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.25s;
}

.collection__page-image img:hover {
  transform: scale(1.2);
}

.collection__page-prodcont {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
}

                                                                      /*------------------
                                                                        Featured collection
                                                                               PAGE
                                                                      ------------------- */

.featured-collection__wrapper h1 {
  text-align: center;
}

.featured-collection__grid {
  margin: 2rem 12rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr) ) ;
  gap: 1rem;
}

                                                                      /*----------------------------
                                                                        template-list-collection
                                                                                PAGE
                                                                      ---------------------------- */

.list-collections {
  margin: 2rem 12rem;
}

.list-collections__title {
  text-align: center;
  margin-bottom: 1rem;
}

.list-collections__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr) ) ;
  gap: 1rem;
}

.list-collections__wrapper {
  border: 1px solid lightgray;
  border-radius: 15px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  overflow: hidden;
}

.list-collections__image {
  height: 20rem;
  overflow: hidden;
}

.list-collections__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.25s;
}

.list-collections__image img:hover {
  transform: scale(1.2);
}

.list-collections__collection-title a {
  display: flex;
  flex-direction: column;
  height: 4rem;
  text-align: center;
  justify-content: center;
	background-color: rgb(243 244 246);
  text-decoration: none;
  color:black;
}


                                                                      /*----------------------------
                                                                              template-PAGE
                                                                      ---------------------------- */

.template-page {
  margin: 2rem 12rem;
}

.template-page__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.template-page__title {
  text-align: center;
  margin-bottom: 1rem;
}

.template-page__content p {
  text-align: justify;
  text-indent: 3rem;
  width: 80%;
  margin: 0 auto;
}

                                                                      /*----------------------------
                                                                            contact-form-liquid
                                                                      ---------------------------- */

.contact-form {
  margin: 2rem 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 53%;
  margin: 1rem auto;
  font-size: 1.25rem;
}

.contact-form h2 {
  text-align: center;
  padding-top: 2rem;
}

.contact-form input,
.contact-form textarea {
  border: 0.5px solid lightgrey;
}

.contact-form__error {
  border: 0px solid lightgrey;
  margin-bottom: 1rem;
}

.contact-form__message-success,
.contact-form__message-failed {
  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: center;
}

.contact-form__icon-success,
.contact-form__icon-failed {
  width: 2rem;
  height: 2rem;
}

.contact-form__name-email {
  display: flex;
  justify-content: space-between;
}

.contact-form__name-email input {
  height: 3rem;
}

.contact-form__name,
.contact-form__email {
  width: 49%;
  display: flex;
  flex-direction: column;
}

.contact-form__submit-btn {
  border: none;
  margin: 1rem 0rem;
  height: 3rem;
  background-color: #4a8f3a;
  color: #ffffff;
  font-size: 1.5rem;
  cursor: pointer;
}

.contact-form__submit-btn:hover {
  background-color: #63b151;
}

                                                                      /*----------------------------
                                                                            template-PRODUCT
                                                                              product-media
                                                                      ---------------------------- */

/* images doesnt fill properly div containers */

.product-media__border {
  border: 1px solid lightgrey;
  border-radius: 1rem;
  overflow: hidden;
  height: 19rem;
}
.product-media__border img,
.product-media__border video,
.product-media__border iframe {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
                                                                      /*----------------------------
                                                                            template-PRODUCT
                                                                      ---------------------------- */

.template-product {
  margin: 2rem 30rem;
}

.template-product__grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

.template-product__information form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.template-product__information-pricing {
  margin-bottom: 1rem;
}

.template-product__information-compare-price {
  text-decoration: line-through;
  color: grey;
}

.template-product__information-price {
  font-weight: bolder;
}

.template-product__information-onsale {
  font-weight: bold;
  background-color: red;
  padding: .5rem 1rem;
  color: #ffffff;
  border-radius: 6px;
  text-transform: uppercase;
}

.template-product__information-prod-quantity {
  margin-bottom: 1rem;
}

.template-product__information-prod-description {
  text-align: justify;
  margin-bottom: 1rem;
}